option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:eu-north-1:941466663628:certificate/a2cec80e-7ea1-4626-afd0-042e642d8dae
    Protocol: HTTPS
Resources:
    AWSEBV2LoadBalancerListener:
      Type: 'AWS::ElasticLoadBalancingV2::Listener'
      Properties:
        LoadBalancerArn: { "Ref" : "afra-lb" }
        DefaultActions:
          - RedirectConfig:
              Port: 443
              Protocol: HTTPS
              StatusCode: HTTP_301
            Type: redirect
        Port: 80
        Protocol: HTTP